%h1 Select your grade

= simple_form_for @competition_series_grade do |f|
  = f.input :grade_id, collection: @competition_series.grades
  = f.hidden_field :competition_series_id
  = hidden_field_tag :competition_id, @competition.id

  = f.submit 'Save'