%h1
  Entries for
  = @competition.title

.Judging-ratingcounts
  - @rating_counts.each do |rating|
    %label
      = check_box_tag 'check-' + rating[:rating_id], 1, true, 'data-check' => rating[:rating_id], class: 'Judging-check'
      = "#{rating[:title]} (#{rating[:count]})"

- @entries_by_grade.each do |grade, entries|
  %h2= grade.title
  - entries.each do |entry|
    .Judging-grid{class: "rating-#{entry.rating_id.to_s} grade-#{entry.grade_id}"}
      = link_to image_tag(entry.photo.thumb.url), edit_judging_entry_path(entry)
      %br
      Rating:
      - if entry.rating
        = entry.rating.title
      - else
        No rating
      %br
      = entry.section.title
      %br
      = entry.grade.title
      %br
      = entry.notes
      %br
      = link_to 'Rate', edit_judging_entry_path(entry)
