= simple_form_for [@competition, @entry] do |f|
  = f.input :title

  - if @entry.new_record?
    = f.input :section_id, collection: @competition.sections


  = f.hidden_field :photo_cache
  = image_tag @entry.photo.thumb.url
  = f.input :photo, as: :file

  = f.submit