%h1
  Competition:
  = @competition.title

%h2 Your Entries

- if @competition.open_for_entry?
  = link_to 'New Entry', new_competition_entry_path(@competition)

- if @entries.empty?
  You have no entries
- else
  %table.your_entries.table.table-striped
    %tr
      %th
        %th Title
        %th Section
        %th Grade
        - if @competition.open_for_entry?
          %th
          %th
        - if @competition.results_published?
          %th Rating
          %th Judge's Comments
    - @entries.each do |entry|
      %tr
        %td= image_tag entry.photo.thumb.url
        %td= entry.title
        %td= entry.section.title
        %td= entry.grade.title
        - if @competition.open_for_entry?
          %td= link_to 'Edit', edit_competition_entry_path(@competition, entry)
          %td= link_to 'Delete Entry', competition_entry_path(@competition, entry), method: :delete, confirmation: "Are you sure you wish to delete this entry?"
        - if @competition.results_published?
          %td= entry.rating.try(:title) || 'Entry'
          %td= entry.notes
