%h1
  = @grade.competition_series.title
  = @grade.title

%table.table.table-striped
  %tr
    %th Name
    - @grade.competition_series.sections.each do |section|
      %th= section.competition.title
    %th Total
  - @scores.results.each do |result|
    %tr
      %td
        = link_to result[:user].name, user_path(result[:user])
      - @grade.competition_series.sections.each do |section|
        %td
          - if result[:competitions][section.competition_id].present?
            - result[:competitions][section.competition_id].each do |entry|
              - if entry.points > 1
                = link_to entry.short_rating, entry_path(entry)
              - else
                = entry.short_rating
      %td= result[:total]
