= link_to 'Edit', edit_admin_user_path(@user)

%h1 User

%dd
  %dl E-Mail
  %dt= @user.email

  %dl First Name
  %dt= @user.first_name

  %dl Last Name
  %dt= @user.last_name


%h2 Grades

%dl
  - @user.competition_series_grades.each do |competition_series_grade|
    %dt= competition_series_grade.competition_series.title
    %dd= competition_series_grade.grade.title

%h2 Entries
%table.table.table-striped
  %tr
    %th
    %th Title
    %th Competition
    %th Section
    %th Grade
  - @user.entries.each do |entry|
    %tr
      %td= link_to image_tag(entry.photo.thumb.url), admin_entry_path(entry)
      %td= link_to entry.title, admin_entry_path(entry)
      %td= link_to entry.competition.title, admin_competition_path(entry.competition)
      %td= entry.section.title
      %td= entry.grade.title
