= link_to 'Edit Competition', edit_admin_competition_path(@competition)
= link_to 'Add Section', new_admin_competition_section_path(@competition)
= link_to 'E-Mail Judging Link', new_admin_competition_email_judging_link_path(@competition)
= link_to 'Download Entries', admin_download_competition_path(@competition)
= link_to 'Add Entry for a User', new_admin_entry_path(competition_id: @competition)

%h1
  Competition:
  = @competition.title

%h2 Sections
%table.table.table-striped
  %tr
    %th Title
    %th Competition Series
    %th Entry Limit
    %th Max Height (px)
    %th Max Width (px)
    %th Max File Size (mb)
    %th Order
    %th Entry Count
    %th
  - @competition.sections.ordered.each do |section|
    %tr
      %td= section.title
      %td= section.competition_series.title
      %td= section.entry_limit
      %td= section.max_height
      %td= section.max_width
      %td= section.max_file_size
      %td= section.order
      %td= section.entries.count
      %td= link_to 'Edit', edit_admin_competition_section_path(@competition, section)

%h2 Entries
= label_tag 'awarded', 'Show awarded entries only?'
= check_box_tag 'awarded'

%table.table.table-striped
  %tr
    %th Photo
    %th Title
    %th Entrant
    %th Grade
    %th Rating
    %th
  - @competition.entries.extant.ordered.each do |entry|
    %tr{class: entry_class(entry)}
      %td= link_to image_tag(entry.photo.thumb.url), admin_entry_path(entry)
      %td= link_to entry.title, admin_entry_path(entry)
      %td= link_to entry.user.name, admin_user_path(entry.user)
      %td= entry.grade.title
      %td= entry.rating.try(:title) || 'No Rating'
      %td= link_to 'Edit', edit_admin_entry_path(entry)