= link_to 'Edit Competition', edit_admin_competition_path(@competition)
= link_to 'Add Section', new_admin_competition_section_path(@competition)
= link_to 'E-Mail Judging Link', new_admin_competition_email_judging_link_path(@competition)

%h1
  Competition:
  = @competition.title

%h2 Sections
%table.table.table-striped
  %tr
    %th Title
    %th Entry Limit
    %th Max Height (px)
    %th Max Width (px)
    %th Max File Size (mb)
    %th
  - @competition.sections.each do |section|
    %tr
      %td= section.title
      %td= section.entry_limit
      %td= section.max_height
      %td= section.max_width
      %td= section.max_file_size
      %td= link_to 'Edit', edit_admin_competition_section_path(@competition, section)

%h2 Entries
%table.table.table-striped
  %tr
    %th Photo
    %th Entrant
    %th Grade
    %th Title
  - @competition.entries.ordered.each do |entry|
    %tr
      %td= image_tag entry.photo.thumb.url
      %td= link_to entry.user.name, admin_user_path(entry.user)
      %td= entry.grade.title
      %td= entry.title