%h1
  Competition:
  = @competition.title

%h2 Sections
%table
  %tr
    %th Title
    %th Entry Limit
    %th Max Height (px)
    %th Max Width (px)
    %th Max File Size (mb)
  - @competition.sections.each do |section|
    %tr
      %td= section.title
      %td= section.entry_limit
      %td= section.max_height
      %td= section.max_width
      %td= section.max_file_size
      %td= link_to 'Edit', edit_admin_competition_section_path(@competition, section)

= link_to 'Edit Competition', edit_admin_competition_path(@competition)
= link_to 'Add Section', new_admin_competition_section_path(@competition)
= link_to 'E-Mail Judging Link', new_admin_competition_email_judging_link_path(@competition)